@keyframes walking-line-1 {
  0% {
    left: -25%;
  }
  50% {
    left: 100%;
  }
  100% {
    left: 200%;
  }
}
@keyframes walking-line-2 {
  0% {
    top: -100%;
  }
  50% {
    top: -25%;
  }
  100% {
    top: 100%;
  }
}
@keyframes walking-line-3 {
  0% {
    right: -25%;
  }
  50% {
    right: 100%;
  }
  100% {
    right: 200%;
  }
}
@keyframes walking-line-4 {
  0% {
    bottom: -100%;
  }
  50% {
    bottom: -25%;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes rotate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate-text {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes loading-text-opacity {
  0% {
    opacity: 0.25;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.25;
  }
}
@keyframes punctation-walk {
  0% {
    content: " ";
  }
  33% {
    content: ".";
  }
  66% {
    content: "..";
  }
  75% {
    content: "...";
  }
}
.dimmer {
  background: #333333;
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.dimmer .loading-container-mode-0 {
  margin: 40px auto;
  height: 320px;
  position: relative;
  width: 320px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
}
.dimmer .loading-container-mode-0 .loading-text-container {
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.dimmer .loading-container-mode-0 .loading-text-container .text-wrapper-1 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 1s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-0 .loading-text-container .text-wrapper-2 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 4s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-0 .loading-text-container .text-wrapper-3 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 9s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 33.3333333333%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-0 .loading-text-container .text-wrapper-4 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 16s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 25%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-0 .loading-text-container .text-wrapper-5 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 25s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 20%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-0 .loading-text-container .text-wrapper-6 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 36s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 16.6666666667%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-0 .loading-text-container .text-wrapper-7 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 49s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 14.2857142857%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-0 .loading-text-container .text-wrapper-8 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 64s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 12.5%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-0 .loading-text-container .text-wrapper-9 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 81s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 11.1111111111%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-0 .loading-text-container .text-wrapper-10 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 100s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 10%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-0 .loading-text-container .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dimmer .loading-container-mode-0 .loading-text-container .loading-text div {
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  text-align: center;
}
.dimmer .loading-container-mode-0 .loading-text-container .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-0 .loading {
  transform-origin: 50% 50%;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  border: 5px solid transparent;
  border-color: transparent #99c42e transparent #99c42e;
}
.dimmer .loading-container-mode-0:hover .loading {
  border-color: transparent #E45635 transparent #E45635;
}
.dimmer .loading-container-mode-0:hover .loading .dashing div {
  border-color: #E45635;
}
.dimmer .loading-container-mode-1 {
  margin: 40px auto;
  height: 320px;
  position: relative;
  width: 320px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 100%;
}
.dimmer .loading-container-mode-1 .loading-text-container {
  position: absolute;
  animation: rotate-text 100s infinite;
  width: 100%;
  height: 100%;
  left: 100%;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-1 .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 200%;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-1 .loading-text div {
  transform: rotate(90deg);
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  position: absolute;
  top: -25px;
  left: -75px;
  width: 200px;
  text-align: center;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-1 .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-1 .loading-text:nth-child(1) {
  transform: rotate(-360deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-2 .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 200%;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-2 .loading-text div {
  transform: rotate(90deg);
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  position: absolute;
  top: -25px;
  left: -75px;
  width: 200px;
  text-align: center;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-2 .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-2 .loading-text:nth-child(1) {
  transform: rotate(-180deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-2 .loading-text:nth-child(2) {
  transform: rotate(-360deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-3 .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 200%;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-3 .loading-text div {
  transform: rotate(90deg);
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  position: absolute;
  top: -25px;
  left: -75px;
  width: 200px;
  text-align: center;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-3 .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-3 .loading-text:nth-child(1) {
  transform: rotate(-120deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-3 .loading-text:nth-child(2) {
  transform: rotate(-240deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-3 .loading-text:nth-child(3) {
  transform: rotate(-360deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-4 .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 200%;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-4 .loading-text div {
  transform: rotate(90deg);
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  position: absolute;
  top: -25px;
  left: -75px;
  width: 200px;
  text-align: center;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-4 .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-4 .loading-text:nth-child(1) {
  transform: rotate(-90deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-4 .loading-text:nth-child(2) {
  transform: rotate(-180deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-4 .loading-text:nth-child(3) {
  transform: rotate(-270deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-4 .loading-text:nth-child(4) {
  transform: rotate(-360deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-5 .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 200%;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-5 .loading-text div {
  transform: rotate(90deg);
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  position: absolute;
  top: -25px;
  left: -75px;
  width: 200px;
  text-align: center;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-5 .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-5 .loading-text:nth-child(1) {
  transform: rotate(-72deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-5 .loading-text:nth-child(2) {
  transform: rotate(-144deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-5 .loading-text:nth-child(3) {
  transform: rotate(-216deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-5 .loading-text:nth-child(4) {
  transform: rotate(-288deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-5 .loading-text:nth-child(5) {
  transform: rotate(-360deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-6 .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 200%;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-6 .loading-text div {
  transform: rotate(90deg);
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  position: absolute;
  top: -25px;
  left: -75px;
  width: 200px;
  text-align: center;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-6 .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-6 .loading-text:nth-child(1) {
  transform: rotate(-60deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-6 .loading-text:nth-child(2) {
  transform: rotate(-120deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-6 .loading-text:nth-child(3) {
  transform: rotate(-180deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-6 .loading-text:nth-child(4) {
  transform: rotate(-240deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-6 .loading-text:nth-child(5) {
  transform: rotate(-300deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-6 .loading-text:nth-child(6) {
  transform: rotate(-360deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-7 .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 200%;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-7 .loading-text div {
  transform: rotate(90deg);
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  position: absolute;
  top: -25px;
  left: -75px;
  width: 200px;
  text-align: center;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-7 .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-7 .loading-text:nth-child(1) {
  transform: rotate(-51.4285714286deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-7 .loading-text:nth-child(2) {
  transform: rotate(-102.8571428571deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-7 .loading-text:nth-child(3) {
  transform: rotate(-154.2857142857deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-7 .loading-text:nth-child(4) {
  transform: rotate(-205.7142857143deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-7 .loading-text:nth-child(5) {
  transform: rotate(-257.1428571429deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-7 .loading-text:nth-child(6) {
  transform: rotate(-308.5714285714deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-7 .loading-text:nth-child(7) {
  transform: rotate(-360deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-8 .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 200%;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-8 .loading-text div {
  transform: rotate(90deg);
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  position: absolute;
  top: -25px;
  left: -75px;
  width: 200px;
  text-align: center;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-8 .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-8 .loading-text:nth-child(1) {
  transform: rotate(-45deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-8 .loading-text:nth-child(2) {
  transform: rotate(-90deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-8 .loading-text:nth-child(3) {
  transform: rotate(-135deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-8 .loading-text:nth-child(4) {
  transform: rotate(-180deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-8 .loading-text:nth-child(5) {
  transform: rotate(-225deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-8 .loading-text:nth-child(6) {
  transform: rotate(-270deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-8 .loading-text:nth-child(7) {
  transform: rotate(-315deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-8 .loading-text:nth-child(8) {
  transform: rotate(-360deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 200%;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text div {
  transform: rotate(90deg);
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  position: absolute;
  top: -25px;
  left: -75px;
  width: 200px;
  text-align: center;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text:nth-child(1) {
  transform: rotate(-40deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text:nth-child(2) {
  transform: rotate(-80deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text:nth-child(3) {
  transform: rotate(-120deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text:nth-child(4) {
  transform: rotate(-160deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text:nth-child(5) {
  transform: rotate(-200deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text:nth-child(6) {
  transform: rotate(-240deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text:nth-child(7) {
  transform: rotate(-280deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text:nth-child(8) {
  transform: rotate(-320deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-9 .loading-text:nth-child(9) {
  transform: rotate(-360deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 200%;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text div {
  transform: rotate(90deg);
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  position: absolute;
  top: -25px;
  left: -75px;
  width: 200px;
  text-align: center;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text:nth-child(1) {
  transform: rotate(-36deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text:nth-child(2) {
  transform: rotate(-72deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text:nth-child(3) {
  transform: rotate(-108deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text:nth-child(4) {
  transform: rotate(-144deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text:nth-child(5) {
  transform: rotate(-180deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text:nth-child(6) {
  transform: rotate(-216deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text:nth-child(7) {
  transform: rotate(-252deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text:nth-child(8) {
  transform: rotate(-288deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text:nth-child(9) {
  transform: rotate(-324deg);
}
.dimmer .loading-container-mode-1 .loading-text-container .text-wrapper-10 .loading-text:nth-child(10) {
  transform: rotate(-360deg);
}
.dimmer .loading-container-mode-1 .loading {
  transform-origin: 50% 50%;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  border-radius: 100%;
  animation: rotate-loading 1.5s linear 0s infinite normal;
  border: 5px solid transparent;
  border-color: transparent #99c42e transparent #99c42e;
}
.dimmer .loading-container-mode-1:hover .loading {
  border-color: transparent #E45635 transparent #E45635;
}
.dimmer .loading-container-mode-1:hover .loading .dashing div {
  border-color: #E45635;
}
.dimmer .loading-container-mode-2 {
  margin: 40px auto;
  height: 320px;
  position: relative;
  width: 320px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.dimmer .loading-container-mode-2 .loading-text-container {
  position: absolute;
  overflow: hidden;
  top: 10px;
  left: 10px;
  right: 10px;
  bottom: 10px;
}
.dimmer .loading-container-mode-2 .loading-text-container .text-wrapper-1 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 1s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 100%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-2 .loading-text-container .text-wrapper-2 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 4s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 50%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-2 .loading-text-container .text-wrapper-3 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 9s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 33.3333333333%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-2 .loading-text-container .text-wrapper-4 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 16s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 25%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-2 .loading-text-container .text-wrapper-5 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 25s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 20%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-2 .loading-text-container .text-wrapper-6 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 36s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 16.6666666667%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-2 .loading-text-container .text-wrapper-7 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 49s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 14.2857142857%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-2 .loading-text-container .text-wrapper-8 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 64s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 12.5%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-2 .loading-text-container .text-wrapper-9 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 81s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 11.1111111111%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-2 .loading-text-container .text-wrapper-10 {
  position: relative;
  left: 0;
  right: 0;
  animation: movingUp 100s linear infinite;
}
@keyframes movingUp {
  0% {
    transform: translate(0, 10%);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.dimmer .loading-container-mode-2 .loading-text-container .loading-text {
  color: #99c42e;
  font-family: "Helvetica Neue, " Helvetica ", " "arial";
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.dimmer .loading-container-mode-2 .loading-text-container .loading-text div {
  opacity: 0.25;
  animation: loading-text-opacity 1s ease-in-out infinite;
  text-align: center;
}
.dimmer .loading-container-mode-2 .loading-text-container .loading-text div::after {
  content: " ";
  position: absolute;
  animation: punctation-walk 1s ease-in-out infinite;
}
.dimmer .loading-container-mode-2 .loading {
  transform-origin: 50% 50%;
  transition: all 0.5s ease-in-out;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.dimmer .loading-container-mode-2 .loading .dashing {
  display: block;
  position: absolute;
}
.dimmer .loading-container-mode-2 .loading .dashing div {
  display: block;
  position: absolute;
}
.dimmer .loading-container-mode-2 .loading .dashing:nth-of-type(1) {
  animation: walking-line-1 5s infinite linear;
  width: 25%;
  height: 100%;
}
.dimmer .loading-container-mode-2 .loading .dashing:nth-of-type(1) div {
  left: 0;
  top: 0;
  width: 100%;
  border-top: 5px solid #99c42e;
}
.dimmer .loading-container-mode-2 .loading .dashing:nth-of-type(2) {
  width: 100%;
  height: 25%;
  animation: walking-line-2 5s infinite linear;
}
.dimmer .loading-container-mode-2 .loading .dashing:nth-of-type(2) div {
  right: 0;
  top: 0;
  height: 100%;
  border-right: 5px solid #99c42e;
}
.dimmer .loading-container-mode-2 .loading .dashing:nth-of-type(3) {
  width: 25%;
  height: 100%;
  animation: walking-line-3 5s infinite linear;
}
.dimmer .loading-container-mode-2 .loading .dashing:nth-of-type(3) div {
  right: 0;
  bottom: 0;
  width: 100%;
  border-bottom: 5px solid #99c42e;
}
.dimmer .loading-container-mode-2 .loading .dashing:nth-of-type(4) {
  width: 100%;
  height: 25%;
  animation: walking-line-4 5s infinite linear;
}
.dimmer .loading-container-mode-2 .loading .dashing:nth-of-type(4) div {
  left: 0;
  bottom: 0;
  height: 100%;
  border-left: 5px solid #99c42e;
}
.dimmer .loading-container-mode-2:hover .loading {
  border-color: transparent #E45635 transparent #E45635;
}
.dimmer .loading-container-mode-2:hover .loading .dashing div {
  border-color: #E45635;
}
