$textHeight: 100;
$baseColor: #99c42e;
$hoverColor: #E45635;
$walking-line-duration: 5;
$waling-line-width: 25%;
$circle-rotation: 1.5;
$loading-text-opacity-duration: 1;
$punctation-walk-duration: 1;
$maxCount: 10;

@keyframes walking-line-1 {
  0% { left: -#{$waling-line-width}; }
  50% { left: 100%; }
  100% { left: 200%; }
}
@keyframes walking-line-2 {
  0% { top: -100%; }
  50% { top: -#{$waling-line-width}; }
  100% { top: 100%; }
}
@keyframes walking-line-3 {
  0% { right: -#{$waling-line-width}; }
  50% { right: 100%; }
  100% { right: 200% ; }
}
@keyframes walking-line-4 {
  0% { bottom: -100%; }
  50% { bottom: -#{$waling-line-width}; }
  100% { bottom: 100%; }
}

@keyframes rotate-loading {
  0%  {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes rotate-text {
  0%  {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}

@keyframes loading-text-opacity {
  0%  {opacity: 0.25;}
  50% {opacity: 1;}
  100%{opacity: 0.25;}
}

@keyframes punctation-walk {
  0%  {content: ' ';}
  33%  {content: '.';}
  66% {content: '..';}
  75%{content: '...';}
}

@mixin slideText($count) {
  @keyframes movingUp {
        0% {
            transform: translate(0, #{100 / $count * 1%});
        }
        100% {
            transform: translate(0, -100%);
        }
    }
}

@mixin rollText($count) {
  position: absolute;
  top: -50%;
  left: 50%;
  width: 2px;
  height: 200%;

  div {
    transform: rotate(90deg);
    opacity: 0.25;
    animation: loading-text-opacity #{$loading-text-opacity-duration}s ease-in-out infinite;
    position: absolute;
    top: -25px;
    left: -75px;
    width: 200px;
    text-align: center;

    &::after {
      content: ' ';
      position: absolute;
      animation: punctation-walk #{$punctation-walk-duration}s ease-in-out infinite;
    }
  }

  $factor: 360 / $count;
  @for $i from 1 through $count {
    &:nth-child(#{$i}) {
      transform:rotate(-#{$i * $factor}deg);
    }
  }
}

.dimmer {
   background: #333333;
   z-index: 999;
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   
    .loading-container { 
       &-mode-0 {
          margin: 40px auto;
          height: 320px;
          position: relative;
          width: 320px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          overflow: hidden;

         border-radius: 100%;

         .loading-text-container {
            position: absolute;

            overflow: hidden;
            top: 10px;
            left: 10px;
            right: 10px;
            bottom: 10px;

            @for $i from 1 through $maxCount {
              .text-wrapper-#{$i} {
                position: relative;
                left: 0;
                right: 0;
                animation: movingUp #{$i * $i}s linear infinite;

                @include slideText($i);
              }
            }

            .loading-text {
            color: $baseColor;
            font-family: "Helvetica Neue, "Helvetica", ""arial";
            font-size: 20px;
            font-weight: bold;
            text-transform: uppercase;

            width: 100%;
            height: 300px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;

            div {
              opacity: 0.25;
              animation: loading-text-opacity #{$loading-text-opacity-duration}s ease-in-out infinite;
              text-align: center;

              &::after {
                content: ' ';
                position: absolute;
                animation: punctation-walk #{$punctation-walk-duration}s ease-in-out infinite;
              }
            }
           }
         }

         .loading {
           transform-origin: 50% 50%;
           transition: all 0.5s ease-in-out;
           width: 100%;
           height: 100%;

           border-radius: 100%;
           animation: rotate-loading #{$circle-rotation}s linear 0s infinite normal;
           border: 5px solid transparent;
           border-color: transparent $baseColor transparent $baseColor;
         }

         &:hover {
           .loading {
               border-color: transparent $hoverColor transparent $hoverColor;

             .dashing {
               div {
                 border-color: $hoverColor;
               }
             }
           }
         }
       }

       &-mode-1 {
          margin: 40px auto;
          height: 320px;
          position: relative;
          width: 320px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          overflow: hidden;

         border-radius: 100%;

         .loading-text-container {
            position: absolute;

            animation: rotate-text #{$maxCount * $maxCount}s infinite;
            width: 100%;
            height: 100%;
            left: 100%;

            @for $i from 1 through $maxCount {
             .text-wrapper-#{$i} {
               .loading-text {
                  color: $baseColor;
                  font-family: "Helvetica Neue, "Helvetica", ""arial";
                  font-size: 20px;
                  font-weight: bold;
                  text-transform: uppercase;

                  width: 100%;
                  height: #{$textHeight * 1%};

                  @include rollText($i);
                 }
             }
           }
         }

         .loading {
             transform-origin: 50% 50%;
             transition: all 0.5s ease-in-out;
             width: 100%;
             height: 100%;

             border-radius: 100%;
             animation: rotate-loading #{$circle-rotation}s linear 0s infinite normal;
             border: 5px solid transparent;
             border-color: transparent $baseColor transparent $baseColor;
           }

           &:hover {
             .loading {
                 border-color: transparent $hoverColor transparent $hoverColor;

               .dashing {
                 div {
                   border-color: $hoverColor;
                 }
               }
             }
           }
       }

       &-mode-2 {
          margin: 40px auto;
          height: 320px;
          position: relative;
          width: 320px;
          display: flex;
          flex-flow: row nowrap;
          justify-content: center;
          align-items: center;
          overflow: hidden;

         .loading-text-container {
           position: absolute;

           overflow: hidden;
           top: 10px;
           left: 10px;
           right: 10px;
           bottom: 10px;

           @for $i from 1 through $maxCount {
             .text-wrapper-#{$i} {
               position: relative;
               left: 0;
               right: 0;
               animation: movingUp #{$i * $i}s linear infinite;

               @include slideText($i);
             }
           }

           .loading-text {
             color: $baseColor;
             font-family: "Helvetica Neue, "Helvetica", ""arial";
             font-size: 20px;
             font-weight: bold;
             text-transform: uppercase;

             width: 100%;
             height: 300px;
             display: flex;
             justify-content: center;
             align-items: center;
             position: relative;

             div {
               opacity: 0.25;
               animation: loading-text-opacity #{$loading-text-opacity-duration}s ease-in-out infinite;
               text-align: center;

               &::after {
                 content: ' ';
                 position: absolute;
                 animation: punctation-walk #{$punctation-walk-duration}s ease-in-out infinite;
               }
             }
           }
         }

         .loading {
           transform-origin: 50% 50%;
           transition: all 0.5s ease-in-out;
           width: 100%;
           height: 100%;

           position: relative;
           overflow: hidden;

           .dashing {
              display: block;
              position: absolute;

              div {
                display: block;
                position: absolute;
              }

              &:nth-of-type(1) {
                animation: walking-line-1 #{$walking-line-duration}s infinite linear;
                width: $waling-line-width;
                height: 100%;

                div {
                  left: 0;
                  top: 0;
                  width: 100%;
                  border-top: 5px solid $baseColor;
                }
              }
              &:nth-of-type(2) {
                width: 100%;
                height: $waling-line-width;
                animation: walking-line-2 #{$walking-line-duration}s infinite linear;

                div {
                  right: 0;
                  top: 0;
                  height: 100%;
                  border-right: 5px solid $baseColor;
                }
              }
              &:nth-of-type(3) {
                width: $waling-line-width;
                height: 100%;
                animation: walking-line-3 #{$walking-line-duration}s infinite linear;

                div {
                  right: 0;
                  bottom: 0;
                  width: 100%;
                  border-bottom: 5px solid $baseColor;
                }
              }
              &:nth-of-type(4) {
                width: 100%;
                height: $waling-line-width;
                animation: walking-line-4 #{$walking-line-duration}s infinite linear;

                div {
                  left: 0;
                  bottom: 0;
                  height: 100%;
                  border-left: 5px solid $baseColor;
                }
              }
            }
         }

         &:hover {
           .loading {
               border-color: transparent $hoverColor transparent $hoverColor;

             .dashing {
               div {
                 border-color: $hoverColor;
               }
             }
           }
         }
       }
    }
}
